h1 {
  text-align: center;
  color: white;
  margin-top: 60px;
  font-family: "Roboto", sans-serif;
  padding-top: 60px;
}

form {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

small {
  display: block;
  font-size: 12px;
  font-family: "Roboto", serif;
  margin-top: -100px;
  margin-left: 120px;
  color: black;
  max-width: 800px;
}

span {
  text-align: center;
}

p {
  font-size: 18px;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: "Roboto", serif;
}

.card {
  background: white;
  max-width: 800px;
  margin: 0 auto;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);

  padding-bottom: 30px;
}
.location {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 30px;
  font-family: "Peddana", serif;
}

.low {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
}

.bring {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 16px;
  color: orange;
  font-family: "Roboto", serif;
}

.detail {
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: "Roboto", serif;
  margin-top: 40px;
}

.card {
  display: block;
  margin: 120px;
}

.weather-temperature {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#date {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: "Roboto", serif;
}
#next {
  margin: 20px;
  padding: 20px;
  color: white;
  font-family: "Roboto", serif;
}

#next:hover {
  font-family: "Roboto", serif;
  color: orange;
}

#temperature {
  font-size: 30px;
  display: block;
  margin: 0 auto;
  font-family: "Roboto", serif;
  color: white;
  margin-top: 30px;
}

#myResource {
  display: block;
  margin: 0 auto;
  font-size: 16px;
}
